.bg-blue-wave {
    background: url(/assets/images/bg/waveTopDesktopBlue.svg) top /100% auto, url(/assets/images/bg/waveBottomDesktopBlue.svg) bottom/100% auto, linear-gradient(#dee8ff,#f2f7ff) content-box;
    background-repeat: no-repeat;
    padding-bottom: 3.2vw;
    padding-top: 4vw;
}

.title-1 { @apply text-blue-600 text-4xl font-semibold leading-normal  }
.title-2 { @apply text-blue-500 text-4xl font-medium } 
.title-3 { @apply text-gray-700 text-4xl font-medium } 
.text { @apply text-gray-500 text-lg leading-9 }
.link { @apply text-blue-500 underline }
p { @apply my-4 }