

.chargeList {
    display: flex;
    flex-basis: 100%;
    margin-top: 64px;
    justify-content: center;
    flex-wrap: wrap;
}

.charge {
    flex-basis: 50%;
    display: flex;
}

.chargeContent {
    background: white;
    margin: 16px;
    padding: 16px;
    flex-basis: 100%;
    border-radius: 12px;
    text-align: center;
}

.chargeContent .price {
    margin-top: 24px;
    color: #5c5c5c;
    font-size: 78px;
}

.chargeTitle {
    font-size: 22px;
}

@media only screen and (max-width: 1080px) {

    .marginContainer.chargeHomeContainer {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .marginContainer.chargeHomeContainer .rightContainer {
        display: flex;
        padding: 0 10%;
    }
    
    .marginContainer.chargeHomeContainer .rightContainer img {
        width: 100%;
    }
    
    .marginContainer.chargeHomeContainer h3.blueTitle {
        margin: 10%;
        width: auto;
    }
    
    .charge {
        flex-basis: 100%;
    }
    
    .chargeContainer {
        height: auto;
    }



}