.marginContainer.investmentContainer .leftContainer {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.rate {
    padding: 16px 42px;
    border: 2px solid var(--color-primary);
    border-radius: 50px;
    color: var(--color-primary);
    font-size: 26px;
}

.investmentRate {
    display: flex;
    margin-bottom: 32px;
}

.investmentOptions {
    margin-top: 32px;
    line-height: 3;
    color: #787878;
    font-size: 18px;
}

.investmentOptions li i {
    color: var(--color-primary);
    margin-right: 12px;
}

.marginContainer.investmentPhoneContainer .containerSubtitle {
    font-size: 16px;
}