.investmentPhoneContainer .rightContainer {
    display: flex;
    justify-content: center;
}

.logos {
    display: flex;
    flex-wrap: wrap;
}

.logoContainer {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.logoContainer img {
    height: 50px;
}

@media only screen and (max-width: 1080px) {

.logoContainer {
    flex-basis: 25%;
    align-items: center;
}

.logoContainer img {
    width: 100%;
    height: auto;
}

.logos {
    padding: 0 10%;
}

}