.boxDate {
    margin-bottom: 16px;
    flex: 0;
}

.pressTitle {
    font-size: 22px;
    white-space: normal;
}

.pressList .box {
    flex-direction: column;
    display: flex;
    flex-basis: 100%;
}


.pressList .boxReadMore {
    flex: 0;
    margin-top: 16px;
}

.downloadBrand {
    display: flex;
    justify-content: space-between;
}

.downloadBrandButton {
    flex-basis: 30%;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    display: flex;
}

.downloadBrandTitle {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

.downloadBrandLogo {
    padding: 16px;
    display: flex;
}

.boxLogo {
    display: flex;
    flex: 0;
    margin-bottom: 12px;
}

.articleContainer{
    font-size: 20px;
}

.articleContainer p {
    line-height: 1.8;
    margin: 0px 0 48px 0;
}

.bold {
    font-weight: 600;
    color: black;
}

.articleContainer ul {
    line-height: 2;
    margin: 24px 0;
}


.bold {
    font-weight: 600;
    color: black;
}

.articleContainer ul {
    line-height: 2;
    margin: 24px 0;
}

.italic {
    font-style: italic;
}

.articleContent {
    display: flex;
    flex-basis: 100%;
}

.articleContent .leftContainer {
    margin-right: 64px;
}

p.articleSubtitle {
    margin-top: 0;
}

.articleTitle {
    margin-bottom: 64px;
}

.boxContainer.doble {
    flex-basis: 50%;
}

.boxContainer.doble {
    flex-basis: 50%;
}

.boxContainer.doble .box {
    background: #dee8ff;
}


@media only screen and (max-width: 1080px) {

    .downloadBrand {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .downloadBrandButton {
        flex-basis: 100%;
        margin-bottom: 16px;
    }

    .articleContent .leftContainer {
        flex-basis: 100%;
        margin: 0;
    }
    
    .articleContent .rightContainer {
        flex-basis: 100%;
        margin-bottom: 32px;
    }
    
    .articleContent {
        flex-direction: column-reverse;
        padding: 16px 8%;
    }

    .articleTitle {
        margin: 32px 8%;
    }
    
    .articleContainer .sectionTitle {
        padding: 16px 5% 0px 5%;
    }

    .boxListMobileFixed {
        overflow: initial !important;
        white-space: normal;
        flex-wrap: wrap;
        padding: 0 4%;
    }
    
    .boxListMobileFixed .boxContainer {
        height: auto;
        flex-basis: 100% !important;
    }
    
    .boxListMobileFixed .box {
        flex-basis: 100%;
    }

}